body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #333333;
    background-color: #455A64;
}

section {
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 30px 0;
    padding: 10px 20px;
}

a {
    color: #0277BD;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* TODO: fixme */
.grid-container {
    overflow: hidden;
}

.grid-cell {
    width: 20%;
    margin: 10px;
}

/* BUTTONS */
.btn {
    color: #FFFFFF;
    padding: 6px 10px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.btn-primary {
    background-color: #2E7D32;
}